*{
	padding: 0;
	margin: 0;
	outline:0;
	font-family: fira code;
	
}
.container{
	height: 100vh;
	width: 100vw;
	text-align:center;
	color:#333;
	background: pink;

}
.love,.yes,.no{
	padding-top: 15%;
		}

.love span{color:red;}


h2{
	font-size: 72px;
	margin-bottom: 20px;
}

a{
	font-size: 24px;
	text-decoration: none;
	padding: 5px 10px;
	margin-top: 20px;
	border:3px solid #ddd; 
	border-radius: 10px;
}

#no{
	color:red; background: #eee;
	margin-right: 50px;
}

#yes{
	color:green;
	background: #eee;
}

.yes img{
	height: 30px;
	width: 30px;
	animation: image 4s linear infinite;
}
@keyframes image{
	0%{transform: scale(.5);}
	50%{transform: scale(1.5);}
	100%{transform: scale(.5);}
}

.container .love a{
	padding: 1.5rem 4rem;
}